<html>
<head><title>test</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style>
.box-shadow{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

body{
padding:3%;
}

.brand-logo{
padding-left:1% !important;
}
</style>
<body>
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Personalised Dictionary</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/entry"><i class="material-icons">search</i></a></li>
        <li><a href="/allwords"><i class="material-icons">view_module</i></a></li>
       </ul>
    </div>
  </nav>
 <div class="row">
